/* header general */
header {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    background-size: 100% 100%; 
    background-position: center; 
}

/* article general */
.divArticle {
    display: flex;
    background-image: url("../images/article.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
    background-size: 100% 100%; 
}

/* nav escritorio */
.nav {
    padding-top: 115px;
}

.nav-link {
    color: white;
    font-weight: bold;
}

/* footer general */
footer {
    display: flex;
    flex-direction: column;
    background-color: #000033;
    color: white;
    padding-top: 20px;
}

.divGrupo {
    text-align: center;
    font-size: small;
}

.iconosInfo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.divInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listUl {
    list-style: none;
}

.divSocial {
    top: 200px; /* Bajamos la barra 200px de arriba a abajo */
    align-content: center;
    justify-content: space-around;
}

.divSocial ul {
    display: flex;
    align-content: space-around;
    list-style: none;
    margin-top: 20px;
    padding-left:15px;
}

.divSocial ul li a {
	margin: 5px;
	color:#fff;
	background: #000;
	padding: 10px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.divSocial ul li .icon-facebook {
    background:#3b5998;
} /* Establecemos los colores de cada red social, aprovechando su class */

.divSocial ul li .icon-twitter {
    background: #00ABF0;
}

.divSocial ul li .icon-instagram {
    background: #833AB4;
}

.divSocial ul li .icon-youtube {
    background: #AE181F;
}

.divSocial ul li a:hover {
	background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
	padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

.divContactos ul li img {
    border-radius: 5px;
}

.divContactos ul li  {
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
}

/* Formulario Institucional */
.container {
    padding-top: 10px;
}
.claseH4 {
    font-style: bold;
}

.idBienvenida {
    text-align: justify;
    padding-left: 20px;
    font-size: xx-large;
    text-align: center;
}
.clasePContainer {
    text-align: justify;
    padding-left: 20px;
}

/* Formulario Login */
.formularioLogin{
    margin: auto;
}

/* Galeria de Imagenes*/
.contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.divFotos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-top: 30px;
    padding: auto auto;
}
.conteiner{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 40%;
}
.Aniversario{
    font-family:sans-serif;
    text-align: center;
}

 #carouselExampleInterval, #carouselExampleInterval1, #carouselExampleInterval2, #carouselExampleInterval3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid #000033;
}

.carousel-inner{
    height: 100%;
    width: 100%;
    object-fit: cover;
} 


img{
    height: 400px;
    width: 200px; 
    object-fit: cover;
}  

/* Formulario Parte de Novedades */
.formParteNov {
    margin: auto auto;
}

.tableParteNov {
    column-width: auto;
    text-align: center;
} 

td, th{
    padding: 4px;
}

.inputCalendario {
    border: none;
    font-size: medium;
    border-radius: 5px;
}

.btn-enviar {
    margin-left: 88%;
    margin-top: 15px;
}

.social{
    display: none;
}

#addPersonal{
    width: 100%;
    flex-direction: row;
    padding: 2px;
    
    align-items: center;
    justify-content: space-between;
}

#addNumero{
    width: 10%;
}
/*****************************Cambios para version mobile**********************************/

@media only screen and (max-width:600px){

/********** Cambios en Footer **********/

/*Oculta div de redes sociales y el iframe de ubicacion*/
.divSocial{
    display: none;
}


.divUbicacion{
    display: none;
}

/*Acomoda todo el contenido del footer */
.divInfo {
    font-size: medium;
    justify-content: flex-start;
    text-align: start;
}

footer{
    margin-left:0px;
    width: fit-content;
}

/*** Lista de redes sociales mobile */

.social {
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    display: flex;
    margin:auto;
    margin-left: 0px;
    padding-left: 0px;
    border: 0px;
}
 
.social ul {
    list-style: none;
    padding-left: 0px;
}
 
.social ul li a {
    display: inline-block;
    color:#fff;
    background: #000;
    padding: 15px 20px;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
    }
 
  
.social ul li .icon-facebook {
    background:#3b5998;
} /* Establecemos los colores de cada red social, aprovechando su ass */

.social ul li .icon-twitter {
    background: #00abf0;
}
.social ul li .icon-instagram {
    background: #D95232;
}

.social ul li .icon-youtube {
    background: #AE181F;
}

.social ul li a:hover {
    background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
    padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

/* Cambia posicion de la galeria a colum */
.divFotos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 0px;
    margin-left: 13px; /*para que no toque la barra de navegacion*/
}

.conteiner {
    display: flex;
    flex-direction: column;
    height: 33%;
    width: 75%;
}

/* Cambios en login */
.formularioLogin {
    height: 80%;
    width: 80%;
    margin-top: auto;
    margin-left: auto;
    margin-right: 4%;
    margin-bottom: auto;
}

/* Cambios en header */
header {
    background-image: url("../images/mobileheader.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    background-size: 105% 105%; 
    /*background-position: center; */
    object-fit: cover;
    object-position: center center;
}

.nav {
    justify-content: center;
    padding-top: 115px;
    font-size: small;
}

.h2Login{
    text-align: center;
}

}
